@media (max-height: 495px) {
  .banner {
    height: 100%;
  }
}

@media (min-width: 768px) {
  @media (min-height: 370px) {
    .banner {
      height: 100vh;
    }
  }
}

@media (min-width: 768px) {
  /* Global Styles =========== */
  .title-h1 {
    font-size: 2.75em;
  }

  .title-h2 {
    font-size: 2em;
  }

  .title-h3 {
    font-size: 1.5em;
    font-weight: 600;
  }

  /* Header ============== */
  .open-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .header-menu {
    position: static;
    background-color: transparent;
    width: auto;
    transition: none;
  }

  .menu-list {
    grid-auto-flow: column;
  }

  .menu-list li a {
    color: var(--white-color);
    font-weight: 500;
  }

  /* Banner =========== */
  .banner-container {
    grid-template-columns: 1fr 1fr;
  }

  .banner-image img {
    max-width: none;
  }

  /* About =========== */
  .about-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-video {
    max-height: 441px;
  }

  /* Products =========== */
  .product-container {
    grid-template-areas: "productImg productContent";
  }

  .product-container.product-area {
    grid-template-areas: "productContent productImg";
  }

  .product-content {
    text-align: right;
  }

  .product-content.product-content-left {
    text-align: left;
  }

  .spain-container {
    justify-content: flex-end;
  }

  .spain-container.spain-container-left {
    justify-content: left;
  }

  .product-button {
    justify-self: right;
  }
  
  .product-button.product-button-left {
    justify-self: left;
  }
  /* Contact =========== */
  .contact-container {
    grid-template-columns: .8fr 1fr;
  }

  .contact-container-right {
    grid-template-rows: repeat(4, max-content);
    gap: 40px;
  }
}

@media (min-width: 1024px) {
  /* Global Styles =========== */
  .title-h1 {
    font-size: 3.5em;
  }

  .title-h2 {
    font-size: 3em;
  }

  .title-h3 {
    font-size: 2.3em;
  }

  /* Header =========== */
  .menu-list {
    gap: 50px;
  }

  /* Banner =========== */


  /* About =========== */
  .about-content {
    gap: 30px;
  }

  .about-content .title-h2 {
    width: 350px;
  }

  .about-content h2 {
    font-size: 2.75em;
  }

  /* Products =========== */
  .product-container {
    grid-template-columns: 1.5fr 2fr;
  }

  .product-container.product-area {
    grid-template-columns: 2fr 1.5fr;
  }

  .spain-container span {
    font-size: 1.2em;
  }

  .product-description p, b {
    font-size: 1.05em;
  }

  /* Footer =========== */
  .footer-container {
    grid-template-columns: max-content max-content;
    justify-content: space-between;
  }
}