:root {
  --primary-color: #F75E01;
  --green-color: #05FF00;
  --black-color: #010C47;
  --white-color: #ffffff;
  --paragraph-color: #464646;
  --gradiant-color: linear-gradient(90deg, #FE8C00 0%, #F83600 100%);

}

html {
  scroll-behavior: smooth;
}

/* General Styles =========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial;
  font-size: 16px;
}

*::-webkit-scrollbar {
  width: 13px;     /* Tamaño del scroll en vertical */
  height: 13px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
*::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
*::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

main, section {
  padding: 60px 0;
  overflow: hidden;
}

button {
  outline: none;
  border: none;
  background: none;
}

.title-h1 {
  font-size: 1.8em;
  font-weight: 600;
}

.title-h2 {
  font-size: 1.6em;
}

.title-h3 {
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 700;
}

.wrapper {
  padding: 0 5%;
}

/* Header ============== */
.header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
}

.header-container {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}

.open-menu {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.header-logo {
  width: 100%;
  height: 100%;
}

.header-logo img {
  width: 80px;
  display: block;
}

.header-menu {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  right: 0;
  left: -100%;
  bottom: 0;
  background-color: var(--white-color);
  transition: cubic-bezier(0.1, 0.73, 0.71, 0.96) .5s;
  transition-property: left;
}

.header-menu.active {
  left: 0;
}

.close-menu {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  border: none;
  top: 10px;
  right: 5%;
}

.menu-list {
  display: grid;
  grid-auto-flow: row;
  gap: 30px;
  text-align: center;
}

.menu-list li a {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--primary-color);
  transition: .3s;
}

.menu-list li a:hover {
  color: var(--gray-color);
}

/* Banner =========== */
.banner {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0;
  background: linear-gradient(to right, #00000075 , #00000075), url(../images/Banner.jpg);
  background-size: cover;
}

.banner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 70px;
}

.banner-content h1 {
  color: var(--white-color);
}

.banner-content h1 span{
  color: var(--primary-color);
  font-size: inherit;
}

.banner-content p {
  color: var(--white-color);
}

.banner-image {
  justify-self: center;
}

.banner-image img {
  width: 100%;
}

/* About =========== */
.about-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.about-content {
  display: grid;
  grid-auto-rows: max-content;
  gap: 20px;
}

.about .about-content .title-h2 {
  color: var(--black-color);
}

.about .about-content p {
  color: var(--paragraph-color);
}

.accordion {
  display: grid;
  gap: 15px;
}

.accordion-item {
  transition: .3s;
}

.accordion-item .accordion-button {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  padding: 3.5px 14px;
  background: var(--gradiant-color);
  color: var(--white-color);
  cursor: pointer;
}

.accordion-button .text {
  font-size: 1.25em;
  font-weight: 500;
  color: var(--white-color);
}

.accordion-item .answer {
  max-height: 0;
  overflow: hidden;
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.answer.active {
  max-height: max-content;
  padding: 3.5px 10px;
  animation: fade-down .3s ease-in-out;
}

.about-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


